@page
@model LataPrzestepneWstrzykiwanie.Pages.ZapisaneModel
@{
	ViewData["Title"] = "Zapisane";
}

@if (Model.people != null)
{
	<ul class="list-group">
		@foreach (var person in Model.people)
		{
			<li class="list-group-item">@person.ToString()</li>
		}
	</ul>
}